<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/leloa"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DreamEvenement"
        tools:targetApi="31">
        <activity
            android:name=".Perfila"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Eskontzak"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Etxea"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".TerminoKondizioak"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Erregistroa"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.DreamEvenement" />
        <activity
            android:name=".Hasiera"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>